/* Fonte Montserrat */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* Reset */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-size: 16px; /* 1rem*/
}

/* NavBar */
nav {
    background-color: #232323;
    padding: 1rem 4rem;

    header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.5rem;
    }

    ul {
        display: flex;
        list-style-type: none;
        gap: 0.3rem;
        justify-content: flex-end;
    }

    a {
        text-decoration: none;
        padding: 0.5rem 0.8rem;
        color: #fff7a3;
        transition: 0.3s;
        display: inline-block;

        &:hover {
            color: #ffffff;
            transform: translateY(-3px);
        }
    }

    input {
        position: relative;
        padding: 0.5rem;
        border-radius: 0.5rem;
        border-radius: 1rem;

        /* .search-container {
            position: relative;
            width: 100%;
            max-width: 300px;
        }

        .search-container input {
            width: 100%;
            padding: 0.5rem 2.5rem 0.5rem 0.8rem;
            font-size: 1rem;
        }

        .search-icon {
            position: absolute;
            right: 0.8rem;
            top: 50%;
            transform: translateY(-50%);
            pointer-events: none;
            font-size: 1rem;
            color: #888;
        } */
    }

    /* border: solid 1px; */
}

.search-container {
    position: relative;
    width: 100%;
    max-width: 300px;
}

.search-container input {
    width: 100%;
    padding: 0.5rem 2.5rem 0.5rem 0.8rem; /* espaço à direita para o ícone */
    /* font-size: 1rem; */
}

.search-icon {
    position: absolute;
    right: 0.8rem;
    /* top: 50%; */
    top: 0.4rem;
    /* transform: translateY(-50%); */
    /* transform: translateY(-50%); */
    pointer-events: none; /* deixa o clique passar pelo ícone */
    font-size: 1.5rem;
    color: #888;
}

.nav-login {
    display: flex;
    gap: 1rem;

    a {
        font-size: 1.5rem;
    }
}

/* Header */

/* Main */
main {
    /* display: inline; */
    display: flex;
    justify-content: space-evenly;
    /* gap: 5px; */
    /* float: left; */
}

/* Phosphor (icons) */
i {
    font-size: 3rem;
    color: #ffea00;
    transition: 0.3s;

    &:hover {
        filter: brightness(120%);
        cursor: pointer;
    }
}
