/* Fonte Montserrat */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* Variáveis */
:root {
    /* Margem top das section */
    --margem-section: 8rem;
    --padding-section: 9rem;

    /* Sombra */
    --sombra: 0 5px 10px 1px #00000065;

    /* Paleta de cores */
    --cor-1: #232323;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

html {
    font-size: 16px; /* 1rem*/
    scroll-behavior: smooth;
}

/* NavBar */
nav {
    /* Navbar fixa */
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;
    /* height: 8rem; */
    height: var(--margem-section);

    background-color: var(--cor-1);
    padding: 1rem 4rem;

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0.5rem;
    }

    ul {
        display: flex;
        list-style-type: none;
        gap: 0.3rem;
        justify-content: flex-end;
    }

    /* Links */
    a {
        text-decoration: none;
        padding: 0.5rem 0.8rem;
        color: #fff7a3;
        transition: 0.3s;
        display: inline-block;
        /* border: solid red; */

        &:hover {
            color: #ffffff;
            transform: translateY(-3px);
        }
    }

    input {
        position: relative;
        padding: 0.5rem;
        border-radius: 0.5rem;
        border-radius: 1rem;
    }
}

.search-container {
    position: relative;
    width: 100%;
    max-width: 25rem;
}

.search-container input {
    width: 100%;
    padding: 0.5rem 2.5rem 0.5rem 0.8rem; /* espaço à direita para o ícone */
}

.search-icon {
    position: absolute;
    right: 0.8rem;
    top: 0.4rem;
    /* top: 50%; */
    /* transform: translateY(-50%); */
    pointer-events: none; /* deixa o clique passar pelo ícone */
    font-size: 1.5rem;
    color: #888;
}

.nav-login {
    display: flex;
    gap: 1rem;

    a {
        font-size: 1.5rem;
    }
}

/* Header */
.capa {
    background: url("../img/foto.jpg") no-repeat;
    background-size: cover;
    height: 60vh;
    width: 100%;
    margin-top: var(--margem-section)
}
/* /Header */

section {
    min-height: 100vh;
    padding: 2rem 4rem;
    padding-top: var(--margem-section)
}

#destaques div, #pagamento div{
    display: flex;
    justify-content: space-evenly;
}

.destaques {
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;

    h3, p {
        margin-top: 1rem;
    }
    
    .foto-destaque {
        width: inherit; /* Herda o valor do elemento pai */
        height: 20rem;
        border-radius: 50%;
        overflow: hidden;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        
        img {
            height: 100%;
            background-size: cover;
            transition: 0.3s ease;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

#pagamento {
    background-color: #e1e1e1;
}

.pagamento {
    width: 20rem;
    height: 25rem;
    padding: 2rem;
    border-radius: 0.5rem;
    text-align: center;
    margin-top: 2rem;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.3s ease;

    img {
        width: 100%;
    }

    &:hover {
        /* Eixo X, eixo Y, desfoque, largura, cor */
        box-shadow: var(--sombra);
        transform: translateY(-0.5rem);
    }
}

#newsletter {

    form {
        background-color: #e1e1e1;
        background: linear-gradient(145deg, #87f5f5, #ffe5f1 50%, #f042ff);
        max-width: 32rem;
        margin: 5rem auto;
        min-height: 16rem;
        padding: 4rem;
        border-radius: 0.5rem;

        &:hover {
            background: #e1e1e1;
            /* background: linear-gradient(145deg, #87f5f5, #ffe5f1 50%, #f042ff); */
            transition: all 1s ease;
        }

        input {
            width: 100%;
            margin: 2rem 0;
            font-size: 1rem;
            padding: 0.5rem 2.5rem 0.5rem 0.8rem;
        }

        button {
            background-color: #ffea00;
            padding: 0.8rem 2rem;
        }
    }
}

button {
    background-color: #00ff48;
    padding: 0.8rem 1rem;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 0.5rem;
    transition: 0.3s ease;

    &:hover {
        cursor: pointer;
        filter: brightness(90%);
    }
}

/* Phosphor (icons) */
i {
    font-size: 3rem;
    color: #ffea00;
    transition: 0.3s ease;

    &:hover {
        filter: brightness(120%);
        cursor: pointer;
    }
}

footer {
    background-color: #232323;
    color: #888;
    padding: 4rem;
    min-height: 20rem;
}

.whats {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    height: 5rem;
    width: 5rem;
    background-color: #00e441;
    border-radius: 50%;
    box-shadow: var(--sombra);
    transition: 0.3s ease;

    &:hover {
        transform: translateY(-5px);
    }

    i {
        color: #ffffff;
        font-size: 5rem;
    }
}

.responsividade {
    max-width: 576px;
}

/* ===== Responsividade - Media Queries ===== */

/* Mobile First (primeiro o formato de celular) */

/* Extra Small - celular em pé (portrait) */
/* @media (max-width: 576px) { */
@media (min-width: 0) {
    
    nav {
        padding: 1rem 0.5rem;
        
        ul {
            justify-content: space-between;
            padding: 0 1rem;
        }

        a {
            padding: 0.5rem 0.5rem;
        }

        .search-container {
            max-width: 15rem;
        }

        /* TESTE */
        background-color: #60baf6;
    }

    #destaques div, #pagamento div{
        flex-direction: column;
        align-items: center;

        .destaques {
            margin-bottom: 3rem;
        }
    }

    section {
        padding: 1rem;
        padding-top: var(--padding-section);
        min-height: auto;
    }

    #newsletter {
        form {
            padding: 2rem;
        }
    }
}

/* Small - celular em deitado (landscape) */
@media (min-width: 576px) {
    nav {

        /* TESTE */
        background-color: #c8b700;
    }
}

/* Tablet */
@media (min-width: 768px) {
    nav {
        padding: 1rem 4rem;
        
        ul {
            justify-content: flex-end;
        }

        a {
            padding: 0.5rem 0.5rem;
        }

        .search-container {
            max-width: 250px;
        }

        /* TESTE */
        background-color: #d4009f;
    }
}

/* Notebook */
@media (min-width: 992px) {
    nav {
        .search-container {
            max-width: 25rem;
        }

        /* TESTE */
        background-color: #00b433;
    }

    #destaques div, #pagamento div{
        flex-direction: row;
        gap: 2rem;
        /* align-items: center; */

        .destaques {
            margin-bottom: 3rem;
        }

        /* Equilavente a um porta-retrato */
        .foto-destaque {
            width: 16rem;
            height: 16rem;
        }
    }
}

/* Desktop (telas grandes) */
@media (min-width: 1200px) {
    nav {

        /* TESTE */
        background-color: #5f6e63;
    }

    #destaques > div, #pagamento > div {
        max-width: 90vw;
        display: flex;
        justify-content: center;
    }
}